@model IEnumerable<DWM.Models.Repositories.EstatisticaViewModel>
@{
    Layout = null;
}
<div class="modal fade" id="modal-container-964987f" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">
                    Estatísticas
                </h2>
            </div>
            <div class="modal-body" style="overflow-y: auto; height: 450px">
                <div class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div id="div-est">
                                <div class="bs-example bs-example-tabs" style="margin-top: 15px">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li><a href="#BrasilXCroacia" data-toggle="tab">Primeiro jogo</a></li>
                                        <li><a href="#BrasilXMexico" data-toggle="tab">Segundo jogo</a></li>
                                        <li><a href="#BrasilXCamaroes" data-toggle="tab">Terceiro jogo</a></li>
                                        <li class="active"><a href="#Final" data-toggle="tab">Final da Copa</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade" id="BrasilXCroacia">
                                            @foreach (DWM.Models.Repositories.EstatisticaViewModel obj in Model.Where(info => info.jogo == 1))
                                            {
                                                decimal percent = (((decimal)obj.quantidade / (decimal)obj.total) * 100);
                                                string _style = "width: " + percent.ToString().Replace(",", ".") + "%";
                                                string _valueNow = percent.ToString().Replace(",", ".");
                                                <div class="row clearfix" style="margin-top: 22px">
                                                    <div class="col-md-9">
                                                        <div class="col-md-1"><img src="..\Content\images\@obj.bandeira_selecao1" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                        <div class="col-md-2">@obj.nome_selecao1</div>
                                                        <div class="col-md-1">@obj.score_selecao1</div>
                                                        <div class="col-md-1">X</div>
                                                        <div class="col-md-1">@obj.score_selecao2</div>
                                                        <div class="col-md-2">@obj.nome_selecao2</div>
                                                        <div class="col-md-4"><img src="..\Content\images\@obj.bandeira_selecao2" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                    </div>
                                                </div>
                                                <div class="progress" style="margin-top: 8px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@_valueNow" aria-valuemin="0" aria-valuemax="100" style="@_style">
                                                        @(App_Dominio.Models.Funcoes.FormataNumero(percent))%
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade" id="BrasilXMexico">
                                            @foreach (DWM.Models.Repositories.EstatisticaViewModel obj in Model.Where(info => info.jogo == 2))
                                            {
                                                decimal percent = (((decimal)obj.quantidade / (decimal)obj.total) * 100);
                                                string _style = "width: " + percent.ToString().Replace(",", ".") + "%";
                                                string _valueNow = percent.ToString().Replace(",", ".");
                                                <div class="row clearfix" style="margin-top: 2px">
                                                    <div class="col-md-9">
                                                        <div class="col-md-1"><img src="..\Content\images\@obj.bandeira_selecao1" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                        <div class="col-md-2">@obj.nome_selecao1</div>
                                                        <div class="col-md-1">@obj.score_selecao1</div>
                                                        <div class="col-md-1">X</div>
                                                        <div class="col-md-1">@obj.score_selecao2</div>
                                                        <div class="col-md-2">@obj.nome_selecao2</div>
                                                        <div class="col-md-4"><img src="..\Content\images\@obj.bandeira_selecao2" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                    </div>
                                                </div>
                                                <div class="progress" style="margin-top: 8px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@_valueNow" aria-valuemin="0" aria-valuemax="100" style="@_style">
                                                        @(App_Dominio.Models.Funcoes.FormataNumero(percent))%
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade" id="BrasilXCamaroes">
                                            @foreach (DWM.Models.Repositories.EstatisticaViewModel obj in Model.Where(info => info.jogo == 3))
                                            {
                                                decimal percent = (((decimal)obj.quantidade / (decimal)obj.total) * 100);
                                                string _style = "width: " + percent.ToString().Replace(",", ".") + "%";
                                                string _valueNow = percent.ToString().Replace(",", ".");
                                                <div class="row clearfix" style="margin-top: 22px">
                                                    <div class="col-md-9">
                                                        <div class="col-md-1"><img src="..\Content\images\@obj.bandeira_selecao1" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                        <div class="col-md-2">@obj.nome_selecao1</div>
                                                        <div class="col-md-1">@obj.score_selecao1</div>
                                                        <div class="col-md-1">X</div>
                                                        <div class="col-md-1">@obj.score_selecao2</div>
                                                        <div class="col-md-2">@obj.nome_selecao2</div>
                                                        <div class="col-md-4"><img src="..\Content\images\@obj.bandeira_selecao2" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                    </div>
                                                </div>
                                                <div class="progress" style="margin-top: 8px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@_valueNow" aria-valuemin="0" aria-valuemax="100" style="@_style">
                                                        @(App_Dominio.Models.Funcoes.FormataNumero(percent))%
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade active in" id="Final">
                                            @foreach (DWM.Models.Repositories.EstatisticaViewModel obj in Model.Where(info => info.jogo == 4))
                                            {
                                                decimal percent = (((decimal)obj.quantidade / (decimal)obj.total) * 100);
                                                string _style = "width: " + percent.ToString().Replace(",", ".") + "%";
                                                string _valueNow = percent.ToString().Replace(",", ".");
                                                <div class="row clearfix" style="margin-top: 22px">
                                                    <div class="col-md-9">
                                                        <div class="col-md-1"><img src="..\Content\images\@obj.bandeira_selecao1" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                        <div class="col-md-3">@obj.nome_selecao1</div>
                                                        <div class="col-md-1">X</div>
                                                        <div class="col-md-3">@obj.nome_selecao2</div>
                                                        <div class="col-md-4"><img src="..\Content\images\@obj.bandeira_selecao2" class="img-circle" style="height: 20px; width: 20px" alt="0"></div>
                                                    </div>
                                                </div>
                                                <div class="progress" style="margin-top: 8px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@_valueNow" aria-valuemin="0" aria-valuemax="100" style="@_style">
                                                        @(App_Dominio.Models.Funcoes.FormataNumero(percent))%
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<a id="tttt" href="#modal-container-964987f" data-toggle="modal"></a>

<script type="text/javascript">
    document.getElementById("tttt").click();
</script>


