@using App_Dominio.App_Start;
@using App_Dominio.Security;
@using App_Dominio.Entidades;
@using App_Dominio.Repositories;
@model DWM.Models.Repositories.TicketViewModel
@{
    Layout = "~/Views/Shared/_LayoutPalpite.cshtml";
    ViewBag.Title = "Log in";
    EmpresaSecurity<App_DominioContext> security = new EmpresaSecurity<App_DominioContext>();
    IEnumerable<TransacaoRepository> menuList = security.getUsuarioTransacao();
}
<div id="div-est"></div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Hidden("enter", "false")
            <div class="panel panel-warning" style="margin-top: 20px">
                <div class="panel-heading" style="height: 50px">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="panel-title col-md-12">
                                Palpite
                            </h2>
                        </div>
                        @if (menuList.Where(info => info.nomeCurto == "Resumo Gerencial").Count() > 0)
                        {
                        <div class="col-md-offset-8">
                            <a class="label" href="#" data-toggle="modal"><input type="button" value="Resumo" onclick="window.location='../Home/ResumoGerencial'" class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Voltar à página dos palpites" /></a>
                            <a class="label" href="#" data-toggle="modal" onclick="ShowEstatistica();"><input type="button" id="btn3" value="Estatísticas" class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Consulte as estatísticas dos palpites" /></a>
                            <a class="label btn" href="https://www.google.com/search?q=tabela+da+copa+fifa+2018+atualizada&ie=utf-8&oe=utf-8&client=firefox-b#sie=lg;/m/06qjc4;2;/m/030q7;st;fp;1" target="_blank"><span class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Acompanhe os resultados dos jogos" />Tabelaaaaço</a>
                            <a class="label" href="../"><input type="button" id="btn3_" value="Sair" class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Retorna ao formulário inicial do Bolaaaço" /></a>
                        </div>

                        }
                        else
                        {
                        <div class="col-md-offset-9">
                            <a class="label" href="#" data-toggle="modal" onclick="ShowEstatistica();"><input type="button" id="btn3" value="Estatísticas" class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Consulte as estatísticas dos palpites" /></a>
                            <a class="label btn" href="https://www.google.com/search?q=tabela+da+copa+fifa+2018+atualizada&ie=utf-8&oe=utf-8&client=firefox-b#sie=lg;/m/06qjc4;2;/m/030q7;st;fp;1" target="_blank"><span class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Acompanhe os resultados dos jogos" />Tabelaaaaço</a>
                            <a class="label" href="../"><input type="button" id="btn3_" value="Sair" class="btn btn-default" style="font-weight: bold; margin-top: -5px" data-toggle="tooltip" data-placement="bottom" title="Retorna ao formulário inicial do Bolaaaço" /></a>
                        </div>
                        }
                    </div>
                </div>
                <div class="panel-body" style="background-color: #fff">
                    <div class="row">
                        <div class="col-md-9">
                            @*@Html.ValidationSummary(false)*@
                            @Html.AntiForgeryToken()
                            <div class="col-md-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li><a href="#palpite" data-toggle="tab" id="_palpite" onclick="showBotaoSalvar(this)"><span style="font-size: large">Palpite</span></a></li>
                                    <li><a href="#list_palpite" data-toggle="tab" id="_listPalpite" onclick="showBotaoSalvar(this)"><span style="font-size: large; ">Todos os seus palpites</span></a></li>
                                    <li><a href="#dados" data-toggle="tab" id="_dados" onclick="showBotaoSalvar(this)"><span style="font-size: large">Cadastro</span></a></li>
                                </ul>
                                <div class="tab-content">
                                    @* ******************** *@
                                    @* Palpite              *@
                                    @* ******************** *@
                                    <div class="tab-pane fade in active" id="palpite" style="height: 383px">
                                        <div class="row" style="margin-top: 15px">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.ticketId, "Número da Sorte *", new { @class = "col-md-4 control-label" })
                                                    <div class="col-md-2">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.ticketId, new { @class = "form-control input-sm", @style = "text-transform: uppercase;", @maxlength = "6" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.dt_compra, "Data da Compra *", new { @class = "col-md-4 control-label" })
                                                    <div class="row">
                                                        <div class="col-md-4" id="navegador_chrome">
                                                            <div class="input-group col-md-4">
                                                                <input type="date" class="form-control" id="dt_compra" name="dt_compra" value="@Model.dt_compra.ToString("dd/MM/yyyy")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5" id="navegador_ie">
                                                            <div class="input-group col-md-12">
                                                                @Html.DropDownList("dia", DWM.Models.Enumeracoes.BindDropDownList.CalendarDay(""), new { @class = "col-md-4"})
                                                                @Html.DropDownList("mes", DWM.Models.Enumeracoes.BindDropDownList.CalendarMonth(""), new { @class = "col-md-4" })
                                                                @Html.DropDownList("ano", DWM.Models.Enumeracoes.BindDropDownList.CalendarYear(""), new { @class = "col-md-4" })
                                                                @Html.HiddenFor(info => info.dt_compra)
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-8">
                                                            <small>(Informar a data da compra que está impresso no cupom da sorte)</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small><b>PALPITES:</b></small>
                                                <small>Informe abaixo os seus palpites e depois clique no botão "Salvar" para confirmar sua aposta.</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 column">
                                                <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                                                    <caption></caption>
                                                    <thead style="background-color: #FAEC37">
                                                        <tr>
                                                            <th style="text-align: left"></th>
                                                            <th style="text-align: right">Seleção</th>
                                                            <th style="text-align: center">Score</th>
                                                            <th style="text-align: center">X</th>
                                                            <th style="text-align: center">Score</th>
                                                            <th style="text-align: left">Seleção</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td style="width: 20%; text-align: center">
                                                            <b>Jogo da 1ª Fase</b>
                                                        </td>
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-6">
                                                                    <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <b>Brasil</b>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @{
                                                            System.DateTime DataPrimeiroJogo = new DateTime(2018, 06, 17, 14, 0, 0);
                                                            if (App_Dominio.Models.Funcoes.Brasilia() > DataPrimeiroJogo)
                                                            {
                                                                <td style="text-align: center; width: 5%">
                                                                    <b>@Model.Parametros.Where(info => info.paramId == 10).FirstOrDefault().valor</b>
                                                                    <input type="hidden" id="score1Brasil" name="score1Brasil" value="-1" class="form-control input-sm text-center" />
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    X
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    <b>@Model.Parametros.Where(info => info.paramId == 11).FirstOrDefault().valor</b>
                                                                    <input type="hidden" id="score1Croacia" name="score1Croacia" value="-1" class="form-control input-sm text-center" />
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align: center; width: 5%">
                                                                    @*<b>@Model.Parametros.Where(info => info.paramId == 10).FirstOrDefault().valor</b>*@
                                                                    <input type="text" id="score1Brasil" name="score1Brasil" value="" class="form-control input-sm text-center" />
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    X
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    @*<b>@Model.Parametros.Where(info => info.paramId == 11).FirstOrDefault().valor</b>*@
                                                                    <input type="text" id="score1Croacia" name="score1Croacia" value="" class="form-control input-sm text-center" />
                                                                </td>
                                                            }
                                                        }
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <b>Suíça</b>
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <img src="..\Content\images\bandeira_suica.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 20%; text-align: center">
                                                            <b>Jogo da 1ª Fase</b>
                                                        </td>
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-6">
                                                                    <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <b>Brasil</b>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @{
                                                            System.DateTime DataSegundoJogo = new DateTime(2018, 06, 22, 8, 0, 0);
                                                            if (App_Dominio.Models.Funcoes.Brasilia() > DataSegundoJogo)
                                                            {
                                                                <td style="text-align: center; width: 5%">
                                                                    <b>@Model.Parametros.Where(info => info.paramId == 12).FirstOrDefault().valor</b>
                                                                    <input type="hidden" id="score2Brasil" name="score2Brasil" value="-1" class="form-control input-sm text-center" />
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    X
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    <b>@Model.Parametros.Where(info => info.paramId == 13).FirstOrDefault().valor</b>
                                                                    <input type="hidden" id="score2Mexico" name="score2Mexico" value="-1" class="form-control input-sm text-center" />
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align: center; width: 5%">
                                                                    @*<b>@Model.Parametros.Where(info => info.paramId == 10).FirstOrDefault().valor</b>*@
                                                                    <input type="text" id="score2Brasil" name="score2Brasil" value="" class="form-control input-sm text-center" />
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    X
                                                                </td>
                                                                <td style="text-align: center; width: 5%">
                                                                    @*<b>@Model.Parametros.Where(info => info.paramId == 11).FirstOrDefault().valor</b>*@
                                                                    <input type="text" id="score2Mexico" name="score2Mexico" value="" class="form-control input-sm text-center" />
                                                                </td>
                                                            }
                                                        }
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <b>Costa Rica</b>
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <img src="..\Content\images\bandeira_costa_rica.jpg" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 20%; text-align: center">
                                                            <b>Jogo da 1ª Fase</b>
                                                        </td>
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-1"></div>
                                                                <div class="col-md-6">
                                                                    <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <b>Brasil</b>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: center; width: 5%">
                                                            @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-06-27 15:00"))
                                                            {
                                                                @*@Html.TextBoxFor(m => m.score3Brasil, new { @class = "form-control input-sm" })*@
                                                                <input type="text" id="score3Brasil" name="score3Brasil" value="" class="form-control input-sm text-center" />
                                                            }
                                                            else
                                                            {
                                                                <b>@Model.Parametros.Where(info => info.paramId == 14).FirstOrDefault().valor</b>
                                                            }                                                            
                                                        </td>
                                                        <td style="text-align: center; width: 5%">
                                                            X
                                                        </td>
                                                        <td style="text-align: center; width: 5%">
                                                            @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-06-27 15:00"))
                                                            {
                                                                @*@Html.TextBoxFor(m => m.score3Camaroes, new { @class = "form-control input-sm" })*@
                                                                <input type="text" id="score3Camaroes" name="score3Camaroes" value="" class="form-control input-sm text-center" />
                                                            }
                                                            else
                                                            {
                                                              <b>@Model.Parametros.Where(info => info.paramId == 15).FirstOrDefault().valor</b>
                                                            }
                                                        </td>
                                                        <td style="width: 21%; text-align: left">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <b>Sérvia</b>
                                                                </div>
                                                                <div class="col-md-offset-3">
                                                                    <img src="..\Content\images\bandeira_servia.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <!-- Oitavas de final -->
                                                    <tr>
                                                        @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-07-02 11:00"))
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                <b>Oitavas de Final</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                Brasil
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score4Brasil" name="score4Brasil" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score4OutraSelecao" name="score4OutraSelecao" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                Seleção (8ª de final)
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                Oitavas de Final
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                Brasil
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 20).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 21).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                Seleção (8ª de final)
                                                            </td>
                                                        }

                                                    </tr>
                                                    <!-- Quartas de final -->
                                                    <tr>
                                                        @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-07-06 15:00"))
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                <b>Quartas de Final</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                Brasil
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score5Brasil" name="score5Brasil" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score5OutraSelecao" name="score5OutraSelecao" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                Seleção (4ª de final)
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                Quartas de Final
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                Brasil
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 22).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 23).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                Seleção (4ª de final)
                                                            </td>
                                                        }

                                                    </tr>
                                                    <!-- Semifinal -->
                                                    <tr>
                                                        @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-07-10 15:00"))
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                <b>Semifinal</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                Brasil
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score6Brasil" name="score6Brasil" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <input type="text" id="score6OutraSelecao" name="score6OutraSelecao" value="" class="form-control input-sm text-center" />
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                Seleção (Semifinal)
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                Semifinal
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                <b>Brasil</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 24).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 25).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                <b>Seleção (Semifinal)</b>
                                                            </td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-07-15 12:00"))
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                <b>Final da Copa</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: right">
                                                                @Html.DropDownList("selecao1Id_final", new DWM.Models.Enumeracoes.BindDropDownList().Selecao("Seleção...", ""), new { @class = "form-control input-sm", @style = "text-align: right" })
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                @Html.TextBoxFor(m => m.score1_final, new { @class = "form-control input-sm" })
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                @Html.TextBoxFor(m => m.score2_final, new { @class = "form-control input-sm" })
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                @Html.DropDownList("selecao2Id_final", new DWM.Models.Enumeracoes.BindDropDownList().Selecao("Seleção...", ""), new { @class = "form-control input-sm" })
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="width: 20%; text-align: center">
                                                                Final da Copa
                                                            </td>                                                            
                                                            <td style="width: 21%; text-align: right">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 18).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 16).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                X
                                                            </td>
                                                            <td style="text-align: center; width: 5%">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 17).FirstOrDefault().valor</b>
                                                            </td>
                                                            <td style="width: 21%; text-align: left">
                                                                <b>@Model.Parametros.Where(info => info.paramId == 19).FirstOrDefault().valor</b>
                                                            </td>
                                                        }

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="height: 30px;">
                                                <h4>"Não fechamos no horário do almoço"</h4>
                                            </div>
                                        </div>
                                    </div>
                                    @* ******************** *@
                                    @* Todos os palpites    *@
                                    @* ******************** *@
                                    <div class="tab-pane fade" id="list_palpite" style="height: 383px; margin-top: 15px; padding-right: 15px">
                                        <div class="row">
                                            <div class="col-md-12" style="overflow-x: auto; height: 343px">
                                                <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding-right: 7px;">
                                                    <caption></caption>
                                                    <thead style="background-color: #FAEC37">
                                                        <tr>
                                                            <th style="text-align: center">Número da Sorte</th>
                                                            <th style="text-align: center">Data da Compra</th>
                                                            <th style="text-align: center">Data do Palpite</th>
                                                            <th style="text-align: center">Situação</th>
                                                            <th style="text-align: center">Justificativa</th>
                                                            <th style="text-align: center"></th>
                                                        </tr>
                                                    </thead>
                                                    @if (Model != null && Model.Palpites != null)
                                                    {
                                                        int index = 0;

                                                        System.Web.Script.Serialization.JavaScriptSerializer jss = new System.Web.Script.Serialization.JavaScriptSerializer();

                                                        string output = jss.Serialize(Model.Palpites);

                                                        foreach (DWM.Models.Repositories.TicketViewModel t in Model.Palpites)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center">@t.ticketId.ToUpper()</td>
                                                                <td style="text-align: center">@t.dt_compra.ToString("dd/MM/yyyy")</td>
                                                                <td style="text-align: center">@(t.dt_inscricao.ToString("dd/MM/yyyy HH:mm"))h.</td>
                                                                <td style="text-align: center">@Html.Raw(t.GetSituacao())</td>
                                                                <td class="small" style="text-align: center">@t.Justificativa</td>
                                                                <td style="text-align: center">
                                                                    <a class="label" href="#modal-container-964987b" data-toggle="modal" style="text-decoration: none" onclick="Detail(@output, @index)"><span class="label label-success" style="font-size: 12px; color: #000">Detalhar</span></a>
                                                                </td>
                                                            </tr>
                                                            index++;
                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>"Compre de sua casa em nossa loja virtual www.norterefrigeracao.com.br"</h4>
                                            </div>
                                        </div>
                                    </div>
                                    @* Formulário Modal Detalhe do palpite *@
                                    <div class="modal fade" id="modal-container-964987b" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h2 class="modal-title" id="myModalLabel">
                                                        Detalhe do Palpite
                                                    </h2>
                                                </div>
                                                <div class="modal-body" style="overflow-y: auto; height: 500px">
                                                    <div class="row clearfix">
                                                        <div class="col-md-4">
                                                            <div class="form-group" style="padding-right: 60px; padding-left: 15px">
                                                                <label>Número da Sorte</label>
                                                                <input type="text" id="_ticketId" class="form-control input-sm col-md-2" style="text-transform: uppercase" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group" style="padding-right: 60px">
                                                                <label>Data da Compra</label>
                                                                <input type="text" id="_dt_compra" class="form-control input-sm" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group" style="padding-right: 60px">
                                                                <label>Data do Palpite</label>
                                                                <input type="text" id="_dt_inscricao" class="form-control input-sm" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <small><b>SEUS PALPITES:</b></small>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 column">
                                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding: 0px">
                                                                <caption></caption>
                                                                <thead style="background-color: #FAEC37">
                                                                    <tr>
                                                                        <th style="text-align: left"></th>
                                                                        <th style="text-align: right">Seleção</th>
                                                                        <th style="text-align: center">Score</th>
                                                                        <th style="text-align: center">X</th>
                                                                        <th style="text-align: center">Score</th>
                                                                        <th style="text-align: left">Seleção</th>
                                                                    </tr>
                                                                </thead>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Jogo da 1ª Fase</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score1Brasil" style="text-align: center;" class=" form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score1Croacia" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Suíça</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                <img src="..\Content\images\bandeira_suica.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Jogo da 1ª Fase</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score2Brasil" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score2Mexico" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Costa Rica</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                <img src="..\Content\images\bandeira_costa_rica.jpg" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Jogo da 1ª Fase</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score3Brasil" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score3Camaroes" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Sérvia</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                <img src="..\Content\images\bandeira_servia.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Oitavas de Final</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score4Brasil" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score4OutraSelecao" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Seleção (8ª de final)</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                &nbsp;
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Quartas de Final</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score5Brasil" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score5OutraSelecao" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Seleção (4ª de final)</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                &nbsp;
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Semifinal</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4" style="text-align: right; padding-right: 20px">
                                                                                <b>Brasil</b>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score6Brasil" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score6OutraSelecao" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <b>Seleção (Semifinal)</b>
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                &nbsp;
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 20%; text-align: center">
                                                                        <b>Final da Copa</b>
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                <img id="_bandeira1_final" src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                            <div class="col-md-offset-4">
                                                                                <input type="text" id="_selecao1_final" class="form-control input-sm" style="width: 85px; text-align: right" disabled="disabled" />
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score1_final" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="text-align: center; width: 5%">
                                                                        X
                                                                    </td>
                                                                    <td style="text-align: left; width: 5%">
                                                                        <input type="text" id="_score2_final" style="text-align: center;" class="form-control input-sm" disabled="disabled" />
                                                                    </td>
                                                                    <td style="width: 21%; text-align: left">
                                                                        <div class="row">
                                                                            <div class="col-md-8">
                                                                                <input type="text" id="_selecao2_final" class="form-control input-sm" disabled="disabled" />
                                                                            </div>
                                                                            <div class="col-md-offset-3">
                                                                                <img id="_bandeira2_final" src="..\Content\images\bandeira-do-brasil.gif" class="img-circle" style="height: 20px; width: 20px" alt="0">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* ******************** *@
                                    @* Cadastro             *@
                                    @* ******************** *@
                                    <div class="tab-pane fade in active" id="dados" style="height: 383px">
                                        <div class="row" style="margin-top: 15px">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.cpf, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-5">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.cpf, new { @class = "form-control input-sm", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.nome, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.nome, new { @class = "form-control input-sm", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "50", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.telefone, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-5">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.telefone, new { @class = "form-control input-sm", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.email, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.email, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.endereco, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-7">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.endereco, new { @class = "form-control input-sm", @placeholder = "Endereço", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "60", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.complemento, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-8 col-xs-6">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.complemento, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: uppercase;", @maxlength = "25", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.cidade, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(m => m.clienteViewModel.cidade, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: uppercase", @maxlength = "25", @disabled = "disable" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.uf, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-2">
                                                        @Html.TextBoxFor(m => m.clienteViewModel.uf, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2", @disabled = "disable" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.clienteViewModel.cep, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.clienteViewModel.cep, new { @class = "form-control input-sm", @disabled = "disable" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="height: 30px">
                                                <h4>"Aproveite a nossa ampla variedade de produtos"</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="../../Content/images/logo_bolaco.png" class="img-responsive" style="width: 180px" alt="0">
                            <img src="../Content/images/Banner_bolaco1.png" class="img-responsive" alt="0" style="margin-top: 50px">
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="background-color: #3c533f; padding-bottom: 10px">
                    <div class="row">
                        <div class="col-md-offset-6" id="div-salvar">
                            @if (DateTime.Now.AddHours(-3) <= DateTime.Parse("2018-07-15 12:00"))
                            {
                                <input type="submit" value="Salvar" class="btn btn-warning" onclick="return Salvar()" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    document.getElementById("_palpite").click();

    $('#btn1').tooltip('hide');
    $('#btn2').tooltip('hide');
    $('#btn3').tooltip('hide');
    $('#btn4').tooltip('hide');

    $('#score1Brasil').mask('9');
    $('#score2Brasil').mask('9');
    $('#score3Brasil').mask('9');
    $('#score1Croacia').mask('9');
    $('#score2Mexico').mask('9');
    $('#score3Camaroes').mask('9');
    $('#score4Brasil').mask('9');
    $('#score4OutraSelecao').mask('9');
    $('#score5Brasil').mask('9');
    $('#score5OutraSelecao').mask('9');
    $('#score6Brasil').mask('9');
    $('#score6OutraSelecao').mask('9');
    $('#score1_final').mask('9');
    $('#score2_final').mask('9');

    $('#clienteViewModel_uf').mask('aa');
    $("#clienteViewModel_cpf").mask("999.999.999-99");
    $("#clienteViewModel_cep").mask("99999-999");
    $("#clienteViewModel_telefone").mask("99 99999-9999");

    if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
        $("#navegador_ie").css("height", "0px");
        $("#navegador_ie").css("visibility", "hidden");
        $("#navegador_chrome").css("visibility", "visible");
    }
    else
    {
        $("#navegador_ie").css("visibility", "visible");
        $("#navegador_chrome").css("height", "0px");
        $("#navegador_chrome").css("visibility", "hidden");
    }

    function Salvar()
    {
        if ($("#score1Brasil").val().trim() == '' ||
            $("#score1Croacia").val().trim() == '' ||
            $("#score2Brasil").val().trim() == '' ||
            $("#score2Mexico").val().trim() == '' ||
            $("#score3Brasil").val().trim() == '' ||
            $("#score3Camaroes").val().trim() == '' ||
            $("#score4Brasil").val().trim() == '' ||
            $("#score4OutraSelecao").val().trim() == '' ||
            $("#score5Brasil").val().trim() == '' ||
            $("#score5OutraSelecao").val().trim() == '' ||
            $("#score6Brasil").val().trim() == '' ||
            $("#score6OutraSelecao").val().trim() == '')
        {
            ShowMessageAlert("Score/placar de todos os jogos precisam ser preenchidos antes de salvar o palpite.", "warning")
            return false;
        }

        if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) // chrome
        {
            if ($("#ticketId").val() != "" && $("#ticketId").val().length == 6 && $("#dt_compra").val() != "" && $("#selecao1Id_final").val() != "" && $("#selecao2Id_final").val() != "")
            {
                if ($("#ticketId").val().substring(0,2).toUpperCase() != 'MT' && $("#ticketId").val().substring(0,2).toUpperCase() != 'CT' && $("#ticketId").val().substring(0,2).toUpperCase() != 'BR' )
                {
                    ShowMessageAlert("Número da Sorte inválido.","warning")
                    return false;
                }
                CarregandoIn();
                return true;
            }
            else
            {
                ShowMessageAlert("Existem campos que precisam ser preenchidos antes de salvar o palpite","warning")
                return false;
            }
        }
        else // ie
        {
            if ($("#dia").val() == "" || $("#mes").val() == "" || $("#ano").val() == "")
            {
                ShowMessageAlert("Informe a data da compra para confirmar seu palpite","warning");
                return false;
            }
            else if ($("#ticketId").val() != "" 
                     && $("#ticketId").val().length == 6 
                     && $("#selecao1Id_final").val() != "" 
                     && $("#selecao2Id_final").val() != "")
            {
                if ($("#ticketId").val().substring(0,2).toUpperCase() != 'MT' && $("#ticketId").val().substring(0,2).toUpperCase() != 'CT' && $("#ticketId").val().substring(0,2).toUpperCase() != 'BR' )
                {
                    ShowMessageAlert("Número da Sorte inválido.","warning")
                    return false;
                }                    
                $("#dt_compra").val($("#ano").val() + "-" + $("#mes").val() + "-" + $("#dia").val());
                CarregandoIn();
                return true;
            }
            else
            {
                ShowMessageAlert("Existem campos que precisam ser preenchidos antes de salvar o palpite","warning")
                return false;
            }
        }
    }

    $('.form-control').keypress(function (e) {
        //if (e.which == 13) {
        //    campo = $('.form-control');
        //    /* pega o indice do elemento*/
        //    indice = campo.index(this);
        //    /*soma mais um ao indice e verifica se não é null
        //     *se não for é porque existe outro elemento
        //    */
        //    if (campo[indice + 1] != null) {
        //        /* adiciona mais 1 no valor do indice */
        //        proximo = campo[indice + 1];
        //        /* passa o foco para o proximo elemento */
        //        proximo.focus();
        //    } else {
        //        return true;
        //    }
        //}
        //if (tecla == 13) {
        //    /* impede o submit caso esteja dentro de um form */
        //    e.preventDefault(e);
        //    return false;
        //} else {
        //    /* se não for tecla enter deixa escrever */
        //    return true;
        //}
    });

    function showBotaoSalvar(obj) {
        if ($(obj).attr('id') == "_palpite") {
            $("#div-salvar").css("visibility", "visible");
        }
        else {
            $("#div-salvar").css("visibility", "hidden");
        }
    }

    function Detail(jsonObj, index) {
        $("#_ticketId").val(jsonObj[index].ticketId);
        $("#_dt_compra").val(jsonObj[index].getDt_compra);
        $("#_dt_inscricao").val(jsonObj[index].getDt_inscricao);

        if (jsonObj[index].score1Brasil != "-1")
        {
            $("#_score1Brasil").val(jsonObj[index].score1Brasil);
            $("#_score1Croacia").val(jsonObj[index].score1Croacia);
        }
        else
        {
            $("#_score1Brasil").val("-");
            $("#_score1Croacia").val("-");
        }
        
        if (jsonObj[index].score2Brasil != "-1")
        {
            $("#_score2Brasil").val(jsonObj[index].score2Brasil);
            $("#_score2Mexico").val(jsonObj[index].score2Mexico);
        }
        else
        {
            $("#_score2Brasil").val("-");
            $("#_score2Mexico").val("-");
        }

        if (jsonObj[index].score3Brasil != "-1")
        {
            $("#_score3Brasil").val(jsonObj[index].score3Brasil);
            $("#_score3Camaroes").val(jsonObj[index].score3Camaroes);
        }
        else
        {
            $("#_score3Brasil").val("-");
            $("#_score3Camaroes").val("-");
        }

        if (jsonObj[index].score4Brasil != "-1")
        {
            $("#_score4Brasil").val(jsonObj[index].score4Brasil);
            $("#_score4OutraSelecao").val(jsonObj[index].score4OutraSelecao);
        }
        else
        {
            $("#_score4Brasil").val("-");
            $("#_score4OutraSelecao").val("-");
        }
        if (jsonObj[index].score5Brasil != "-1")
        {
            $("#_score5Brasil").val(jsonObj[index].score5Brasil);
            $("#_score5OutraSelecao").val(jsonObj[index].score5OutraSelecao);
        }
        else
        {
            $("#_score5Brasil").val("-");
            $("#_score5OutraSelecao").val("-");
        }
        if (jsonObj[index].score6Brasil != "-1")
        {
            $("#_score6Brasil").val(jsonObj[index].score6Brasil);
            $("#_score6OutraSelecao").val(jsonObj[index].score6OutraSelecao);
        }
        else
        {
            $("#_score6Brasil").val("-");
            $("#_score6OutraSelecao").val("-");
        }

        $("#_selecao1_final").val(jsonObj[index].nome_selecao1Final);
        $("#_selecao2_final").val(jsonObj[index].nome_selecao2Final);
        $("#_score1_final").val(jsonObj[index].score1_final);
        $("#_score2_final").val(jsonObj[index].score2_final);
        $("#_bandeira1_final").attr("src", "..\\Content\\images\\" + jsonObj[index].bandeira_finalista1);
        $("#_bandeira2_final").attr("src", "..\\Content\\images\\" + jsonObj[index].bandeira_finalista2);
    }

    function ShowEstatistica() {
        var link = '../Home/_Estatistica';
        link = encodeURI(link + '?noCache=' + new Date());

        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        $('#div-est').load(link);

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })
    }

</script>
