@using DWM.Models.Repositories
@{
    Layout = null;
    IEnumerable<ParametroViewModel> Parametros = ViewBag.Parametros;
    IEnumerable<TicketViewModel> Ganhadores = ViewBag.Ganhadores;
}

<div class="row carousel-inner" style="margin-top: 0px">
    <div class="col-md-12 item active">
        <div class="alert alert-dismissable text-danger" style="text-align: center; padding: 8px; background-color: #ffffff">
            <a class="label" href="#modal-container-964987j" data-toggle="modal" onclick="ShowVencedores();"><span style="font-size: large; color: #ff0000">Ganhadores</span></a>
            @***********Formulário Modal VENCEDORES **************@
            <div class="modal fade" id="modal-container-964987j" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 85%">
                    <div class="modal-content">
                        <div class="modal-header" style="height: 80px">
                            <span style="font-size: 20px"><strong>Gahadores Campanha Bolaaaço 2018</strong></span>
                        </div>
                        <div class="modal-body" style="overflow-y: auto; height: 600px">
                            <div class="row">
                                <div class="col-md-4 column ui-sortable" style="">
                                    <div class="box box-element">
                                        <div class="view">
                                            <h4 contenteditable="false">Ganhadores de Brasil @Parametros.Where(info => info.paramId == 10).FirstOrDefault().valor x @Parametros.Where(info => info.paramId == 11).FirstOrDefault().valor Suíça</h4>
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding-right: 7px;">
                                                <caption></caption>
                                                <thead style="background-color: #FAEC37">
                                                    <tr>
                                                        <th style="text-align: center">Nome</th>
                                                        <th style="text-align: center">Nº da Sorte</th>
                                                        <th style="text-align: center">Data do Palpite</th>
                                                    </tr>
                                                </thead>
                                                @{

                                                }
                                                @foreach (DWM.Models.Repositories.TicketViewModel t in Ganhadores.Where(info => info.score1Brasil == -2))
                                                {
                                                    <tr>
                                                        <td style="text-align: left;"><small>@t.clienteViewModel.nome</small></td>
                                                        <td style="text-align: center"><small>@t.ticketId.ToUpper()</small></td>
                                                        <td style="text-align: center"><small>@(t.dt_inscricao.ToString("dd/MM/yyyy HH:mm"))</small></td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column ui-sortable">
                                    <div class="box box-element">
                                        <div class="view">
                                            @{
                                                DateTime DataSegundoJogo = new DateTime(2018, 6, 22, 11, 30, 0);
                                                if (App_Dominio.Models.Funcoes.Brasilia() > DataSegundoJogo)
                                                {
                                                    <h4 contenteditable="true">Ganhadores de Brasil @Parametros.Where(info => info.paramId == 12).FirstOrDefault().valor x @Parametros.Where(info => info.paramId == 13).FirstOrDefault().valor Costa Rica</h4>
                                                }
                                                else
                                                {
                                                    <h4 contenteditable="true">Ganhadores de Brasil x Costa Rica</h4>
                                                }
                                            }
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding-right: 7px;">
                                                <caption></caption>
                                                <thead style="background-color: #FAEC37">
                                                    <tr>
                                                        <th style="text-align: center">Nome</th>
                                                        <th style="text-align: center">Nº da Sorte</th>
                                                        <th style="text-align: center">Data do Palpite</th>
                                                    </tr>
                                                </thead>
                                                @foreach (DWM.Models.Repositories.TicketViewModel t in Ganhadores.Where(info => info.score1Brasil == -3))
                                                {
                                                    if (App_Dominio.Models.Funcoes.Brasilia() > DataSegundoJogo)
                                                    {
                                                        <tr>
                                                            <td style="text-align: left;"><small>@t.clienteViewModel.nome</small></td>
                                                            <td style="text-align: center"><small>@t.ticketId.ToUpper()</small></td>
                                                            <td style="text-align: center"><small>@(t.dt_inscricao.ToString("dd/MM/yyyy HH:mm"))</small></td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column ui-sortable" >
                                    <div class="box box-element">
                                        <div class="view">
                                            @{
                                                DateTime DataTerceiroJogo = new DateTime(2018, 6, 27, 17, 30, 0);
                                                if (App_Dominio.Models.Funcoes.Brasilia() > DataTerceiroJogo)
                                                {
                                                    <h4 contenteditable="true">Ganhadores de Brasil @Parametros.Where(info => info.paramId == 14).FirstOrDefault().valor x @Parametros.Where(info => info.paramId == 15).FirstOrDefault().valor Sérvia</h4>
                                                }
                                                {
                                                    <h4 contenteditable="true">Ganhadores de Brasil x Sérvia</h4>
                                                }
                                            }
                                            <table class="table table-hover table-bordered table-condensed" style="cursor: pointer; padding-right: 7px;">
                                                <caption></caption>
                                                <thead style="background-color: #FAEC37">
                                                    <tr>
                                                        <th style="text-align: center">Nome</th>
                                                        <th style="text-align: center">Nº da Sorte</th>
                                                        <th style="text-align: center">Data do Palpite</th>
                                                    </tr>
                                                </thead>
                                                @foreach (DWM.Models.Repositories.TicketViewModel t in Ganhadores.Where(info => info.score1Brasil == -4))
                                                {
                                                    if (App_Dominio.Models.Funcoes.Brasilia() > DataTerceiroJogo)
                                                    {
                                                        <tr>
                                                            <td style="text-align: left;"><small>@t.clienteViewModel.nome</small></td>
                                                            <td style="text-align: center"><small>@t.ticketId.ToUpper()</small></td>
                                                            <td style="text-align: center"><small>@(t.dt_inscricao.ToString("dd/MM/yyyy HH:mm"))</small></td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="padding: 10px">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



