@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.RegisterViewModel
@using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("enter", "false")
    <div id="div-lov"></div>
    <div class="carousel-inner">
        <div class="item active">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="panel-title col-md-12" style="padding-top: 8px">
                                Cadastre-se
                            </h2>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                @*<div class="col-md-7">@Html.ActionLink("Dê seu Palpite", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success", @style = "font-weight: bold; font-size: large" })</div>*@
                                <div class="col-md-5 pull-right" style="padding-top: 4px"><a class="btn btn-default" href="#modal-container-964987a" data-toggle="modal">Instruções</a>   </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="background-color: #fff; background-image: url(~../../Content/images/fundo5.png); background-repeat: no-repeat">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="margin-top: 0px">
                                @*@Html.ValidationSummary(false)*@
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li><a href="#identificacao" data-toggle="tab" id="_identificacao" onclick="showBotaoSalvar(this)">Identificação</a></li>
                                <li><a href="#endereco-panel" data-toggle="tab" id="_endereco" onclick="showBotaoSalvar(this)">Endereço</a></li>
                            </ul>
                            <div class="tab-content">
                                @* ******************** *@
                                @* Identificação        *@
                                @* ******************** *@
                                <div class="tab-pane fade in active" id="identificacao" style="height: 353px">
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.cpf, "CPF *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.cpf, new { @class = "form-control input-sm" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.nome, "Nome *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.nome, new { @class = "form-control input-sm", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "50"})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.telefone, "Telefone *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.telefone, new { @class = "form-control input-sm" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <small>(informar telefone com DDD)</small> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.email, "E-mail *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.email, "Confirmação de E-mail *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.confirmarEmail, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: lowercase;", @maxlength = "100" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.senha, "Senha *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        @Html.PasswordFor(m => m.senha, new { @class = "form-control input-sm" })<br />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <small>(mínimo de 6 dígitos livres)</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.confirmacaoSenha, "Confirmação de Senha *", new { @class = "col-md-3 control-label" })
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        @Html.PasswordFor(m => m.confirmacaoSenha, new { @class = "form-control input-sm" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* ******************** *@
                                @* Endereço       *@
                                @* ******************** *@
                                <div class="tab-pane fade" id="endereco-panel" style="height: 353px">
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.endereco, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.endereco, new { @class = "form-control input-sm", @placeholder = "Endereço", @Style = "width: 180%; text-transform: uppercase;", @maxlength = "60" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.complemento, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.complemento, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: uppercase;", @maxlength = "25" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.cidade, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(m => m.cidade, new { @class = "form-control input-sm", @style = "width: 180%; text-transform: uppercase", @maxlength = "25" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.uf, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.uf, new { @class = "form-control input-sm", @style = "text-transform: uppercase", @maxlength = "2" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.cep, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-3">
                                                    @Html.TextBoxFor(m => m.cep, new { @class = "form-control input-sm" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <small><b>COMPROVAÇÃO DO CADASTRO:</b></small>
                                            <small>O cliente receberá em seu e-mail uma mensagem de notificação confirmando seu cadastro.</small>
                                            <small>Clicando no botão "Salvar" o cliente concorda em ter seu nome divulgado pela Norte Refrigeração para exibição dos palpiteiros, vencedores e receber em seu e-mail outras promoções que a empresa vier a publicar.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="background-color: #3c533f; padding-bottom: 10px">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-default" onclick="nextButtom()"><span id="Next">Próximo</span></a>
                        </div>
                        <div class="col-md-7">
                            <small style="color: #fff">( * ) - Campo de preenchimento obrigatório</small>
                        </div>
                        <div class="col-md-offset-2" id="div-salvar" style="visibility: hidden">
                            @Html.Partial("_defaultListButtons",
                                    new List<ButtonRepository>
                                    {
                                        new ButtonRepository() {    linkText = "Salvar",
                                                                    actionName = "",
                                                                    controllerName = "",
                                                                    javaScriptFunction = "validaCliente()",
                                                                    buttonType = "submit"
                                                                } 
                                    })
                        </div>
                    </div>
                </div>
            </div>

            @***********Formulário Modal INSTRUÇÕES **************@
            <div class="modal fade" id="modal-container-964987a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                Instruções para participar do Bolaaaaço
                            </h4>
                        </div>
                        <div class="modal-body" style="overflow-y: auto; height: 450px">
                            <p>O processo é composto de 2 etapas: </p>
                            <p><h4>1. Cadastro</h4></p>
                            <blockquote>
                                <p>1.1 Identificação</p>
                                <small>Para participar do "Bolaaaaço da Norte Refrigeração" é preciso fazer o cadastro na promoção.</small>
                                <small>Todos os campos abaixo são de preenchimento obrigatório. Informar o nome completo sem abreviações.</small>
                                <small>Informar o e-mail do cliente que será utilizado tanto para realizar o acesso quanto para receber as notificações e cadastrar os palpites.</small>
                                <small>O e-mail do cliente deve ser um e-mail válido, de uso constante e deve ser único, ou seja, não pode haver e-mails repetidos no cadastro do @ViewBag.Title</small>
                                <small>Informar o telefone residencial, comercial ou celular (com DDD).</small>
                                <p></p>
                                <p>1.2. Endereço</p>
                                <small>Para complementar o seu cadastro o cliente deve informar o endereço.</small>
                                <small>O preenchimento desses campos servirão como uma recurso adicional para localização do vencedor em caso da Norte Refrigeração não conseguir encontrar o cliente por e-mail e (ou) telefone.</small>
                                <small>Estas informações não são de preenchimento obritatório.</small>
                                <small>Ao final do preenchimento, clique no botão Salvar.</small>
                            </blockquote>
                            <p><b>COMPROVAÇÃO DO CADASTRO:</b></p>
                            <p>O cliente receberá em seu e-mail uma mensagem de notificação confirmando seu cadastro.</p>
                            <p>Clicando no botão "Salvar" o cliente concorda em ter seu nome divulgado pela Norte Refrigeração para exibição dos palpiteiros, vencedores e receber em seu e-mail outras promoções que a empresa vier a publicar.</p>
                            <p><h4>2. Palpite</h4></p>
                            <blockquote>
                                <p>2.1 Acesso</p>
                                <small>Depois que fizer o seu cadastro é preciso dar o palpite.</small>
                                <small>Só o cadastro não é suficiente para participar da promoção. É preciso dar o palpite.</small>
                                <small>Cáda número da sorte que você recebe em uma venda lhe dá direito a cadastrar um palpite.</small>
                                <small>Clique no botão "Dê seu palpite". Na tela que segue, informe o seu e-mail e senha cadastrados na etapa anterior e clique no botão  "Acessar".</small>
                                <p></p>
                            </blockquote>
                            <p><b>COMPROVAÇÃO DO PALPITE:</b></p>
                            <p>O cliente receberá em seu e-mail uma mensagem de notificação confirmando seu palpite.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    document.getElementById("_identificacao").click();

    $('#uf').mask('aa');
    $("#cpf").mask("999.999.999-99");
    $("#cep").mask("99999-999");
    $("#telefone").mask("99 99999-9999");

    if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
        $('.form-control').keypress(function (e) {
            if (e.which == 13) {
                campo = $('.form-control');
                /* pega o indice do elemento*/
                indice = campo.index(this);
                /*soma mais um ao indice e verifica se não é null
                 *se não for é porque existe outro elemento
                */
                if (campo[indice + 1] != null) {
                    /* adiciona mais 1 no valor do indice */
                    proximo = campo[indice + 1];
                    /* passa o foco para o proximo elemento */
                    $("#enter").val("false");
                    if (proximo.id == "endereco") {
                        document.getElementById("_endereco").click();
                        $("#Next").text("Anterior");
                    }
                    proximo.focus();
                } else {
                    $("#enter").val("true");
                    return true;
                }
            }
            if (tecla == 13) {
                /* impede o submit caso esteja dentro de um form */
                e.preventDefault(e);
                return false;
            } else {
                /* se não for tecla enter deixa escrever */
                return true;
            }
        });
    }

    //Leia mais em: Pular campos ao pressionar Enter, utilizando Jquery http://www.devmedia.com.br/pular-campos-ao-pressionar-enter-utilizando-jquery/21726#ixzz30l23WOoi


    function showBotaoSalvar(obj) {
        if ($(obj).attr('id') == "_endereco") {
            $("#div-salvar").css("visibility", "visible");
            $("#Next").text("Anterior");
        }
        else {
            $("#div-salvar").css("visibility", "hidden");
            $("#enter").val("false");
            $("#Next").text("Próximo");
        }

    }

    function validaCliente() {
        if ($("#enter").val() == "true") {
            CarregandoIn();
            if ($("#endereco").val() != null && $("#endereco").val() != "") {
                if ($("#complemento").val() == null || $("#complemento").val() == "")
                    $("#complemento").val(" ");
                if ($("#cidade").val() == null || $("#cidade").val() == "")
                    $("#cidade").val(" ");
                if ($("#uf").val() == null || $("#uf").val() == "")
                    $("#uf").val("PA");
                if ($("#cep").val() == null || $("#cep").val() == "" || $("#cep").val() == "_____-___")
                    $("#cep").val("66000000");
            }

            return true;
        }
        else
            return false;
        //return $("#enter").val() == "true";
    }

    function habilita() {
        $("#enter").val("true");
    }

    function nextButtom() {
        if ($("#Next").text() == "Próximo")
        {
            document.getElementById("_endereco").click();
            $("#Next").text("Anterior");
        }
        else
        {
            document.getElementById("_identificacao").click();
            $("#Next").text("Próximo");
        }
    }
</script>


